<!--annonser.html visar alla skapade annonser-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PartyClothes! Alla annonser</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/shop-homepage.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Party-clothes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">

                <li class="nav-item">
                    <a class="nav-link" href="/newAd">Skapa annons</a>
                </li>
                <!--TODO: skapa funktionalitet till min sida och logout-->
                <li class="nav-item">
                    <a class="nav-link" href="#">Min sida</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">

            <div class="row" id="HomeTopArea">

            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6 mb-4 ad" th:each="ad:${allAds}">
                    <div class="card h-100">
                    <a href="#"><img class="card-img-top adImg" th:src="@{${ad.picture}}" alt=""/></a>
                        <!--th:src="@{${'/img/icons/' + subTask.issueTypeId + '.png'}}"-->

                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#" th:text="${ad.title}"></a>
                            </h4>
                            <h5 th:text="${ad.price} +' kr'"></h5>
                            <p class="card-text" th:text="${ad.description}"></p>
                            <h5 th:text="'Storlek: ' + ${ad.size}"></h5>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
