
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List users</title>
</head>
<body>


<div class="col-lg-4 ad" th:each="user:${users}">
    <td th:text="'ID: ' + ${user.id}"/>
    <br/>
    <td th:text="'Namn: ' + ${user.name}"/>
    <br/>
    <td th:text="'Användarnamn: ' + ${user.userName}"/>
    <br/>
    <td th:text="'Email: ' + ${user.email}"/>
    <br/>
    <td th:text="'Adress: ' + ${user.address}"/>
    <br/>
    <td th:text="'Billing Info: ' + ${user.billingInfo}"/>
    <br/>
    <td th:text="'PhoneNumber: ' + ${user.phoneNumber"/>


</div>


</body>
</html>